{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Autonomous Search</h1>

        </div>
    </div>
    <div class="row" id="message">
        <button id="searchMaze" type="button" class="btn btn-info" style="background-color: rgb(22, 83, 152); z-index: 10;" onclick="new_ajax_helper('/searchMaze');">Search Maze</button>
        <button id="stop" type="button" style="background-color: rgb(22, 83, 152); z-index: 10;" class="btn btn-info" onclick="new_ajax_helper('/stop');">STOP</button>
    </div>
    <div id="map"><div id="box" class="jxgbox col"></div></div>
    <p>{{data[0]}}</p>
{% endblock %}