{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Manual Control</h1>
            <h1>{{Colour}}</h1>
        </div>
    </div>
    <div class="row" id="load">
        <button type="button" class="btn btn-success" onclick="load_robot();">Load Robot</button>
    </div>   
    <div id="dashboard">
        <div class="row">
            <button id="shutdown" type="button" class="btn btn-danger" onclick="shutdown_robot();">Shutdown Robot</button>
            <button id="reconfig" type="button" class="btn btn-warning" onclick="new_ajax_helper('/reconfig_IMU');">Reconfigure IMU</button>
            <button id="compass" type="button" class="btn btn-secondary" onclick="new_ajax_helper('/compass');">Set Compass</button>
            <button id="sensors" type="button" class="btn btn-info" onclick="new_ajax_helper('/sensors');">Sensors</button>
        </div>
        <div class="row">
            <button id="shoot" type="button" class="btn btn-secondary" onclick="new_ajax_helper('/shoot');">Shoot</button>
            <button id="moveforward" type="button" class="btn btn-info" onclick="new_ajax_helper('/moveforward',mapForward);">Move Forward</button>
            <button id="movebackwards" type="button" class="btn btn-info" onclick="new_ajax_helper('/movebackwards',mapBackward);">Move Backwards</button>
            <button id="turnLeft" type="button" class="btn btn-info" onclick="new_ajax_helper('/turnLeft');">Turn Left</button>
            <button id="turnRight" type="button" class="btn btn-info" onclick="new_ajax_helper('/turnRight');">Turn Right</button>
            <button id="stop" type="button" class="btn btn-info" onclick="new_ajax_helper('/stop');">STOP</button>
            <button id="searchMaze" type="button" class="btn btn-info" onclick="new_ajax_helper('/searchMaze');">Search Maze</button>
        </div>
        <div class="row">
            <div id="videobox" class="col">
                <div id="videofeed"></div>
            </div>
            <div id="map"><div id="box" class="jxgbox col"></div></div>
            <div id="message"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script> robot_enabled = {{robot_enabled}}; </script>
    <script src="/static/js/dashboard.js"></script> 
    <script src="/static/js/mapping.js"></script> 
{% endblock %}