{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Robot Sensor View</h1>
            <button id="reconfig" type="button" class="btn btn-warning" onclick="new_ajax_helper('/reconfig_IMU');">Reconfigure IMU</button>
            <button id="compass" type="button" class="btn btn-secondary" onclick="new_ajax_helper('/compass');">Set Compass</button>
            <button id="sensors" type="button" class="btn btn-info" onclick="new_ajax_helper('/sensors');">Sensors</button>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sensor Name</th>
                    <th scope="col">Sensor Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Colour</th>
                    <td id="colour">{{data['colour']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Compass</th>
                    <td id="compass">{{data['compass']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Battery</th>
                    <td id="battery">{{data['battery']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">thermal</th>
                    <td id="thermal">{{data['thermal']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">acceleration</th>
                    <td id="acceleration">{{data['acceleration']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">gyro</th>
                    <td id="gyro">{{data['gyro']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">ultrasonic</th>
                    <td id="ultrasonic">{{data['ultrasonic']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">temperature</th>
                    <td id="temperature">{{data['temperature']}}</td>
                  </tr>
                  <tr>
                    <th scope="row">orientation</th>
                    <td id="orientation">{{data['orientation']}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row" id="message">
    </div>
    
{% endblock %}
{% block scripts %}
    <script src="/static/js/sensor.js"></script> <!-- JSON HELPER -->
{% endblock %}